{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}

<head>
    <title>{% translate 'Task manager' %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate 'Task manager' %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:list' %}">{% translate 'Users' %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statuses:list' %}">{% translate 'Statuses' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'labels:list' %}">{% translate 'Labels' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:list' %}">{% translate 'Tasks' %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li  class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% translate 'Log out' %}</a>
                </li>
                {% else %}
                <li  class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% translate 'Log in' %}</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="{% url 'users:create' %}">{% translate 'Register' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--flash-messages-->
    <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto my-2">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
    </div>

    <div class="container wrapper flex-grow-1">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
    </footer>
</body>

</html>