{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="card">
        <div class="card-body p-5 bg-light mt-5 pt-4 pb-16">
            <h1 class="my-4">{{ title }}</h1>
            <a class="nav-link" href="{% url 'tasks:create' %}">{% translate "Create a task" %}</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Status" %}</th>
                        <th>{% translate "Created by" %}</th>
                        <th>{% translate "Executive" %}</th>
                        <th>{% translate "Created at" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.created_by }}</td>
                        <td>{{ task.executive }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <a href="{% url 'tasks:change' task.id %}">{% translate "Change" %}</a>
                            <br>
                            <a href="{% url 'tasks:delete' task.id %}">{% translate "Delete" %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
